.sortPizzaBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sortPizzasList {
  display: flex;
  gap: 9px;

  .sortPizzasItem {
    padding: 14px 33px 17px;
    border-radius: 30px;
    background: #F9F9F9;
    color: #2C2C2C;
    text-align: center;
    line-height: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.24px;
    cursor: pointer;
  }

  .selectedSortItem {
    padding: 14px 33px 17px;
    color: #fff;
    background: #282828;
    border-radius: 30px;
    text-align: center;
    line-height: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.24px;
  }
}

.sortPizzaAt {
  position: relative;
  
  p {
    color: #2C2C2C;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.21px;
  }

  button {
    margin-left: 4px;
    color: #FE5F1E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.21px;
    text-decoration: dotted underline;
    text-underline-offset: 5px;
  }

  .buttonSortList {
    position: absolute;
    top: 28px;
    right: 0;
    padding: 13px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    width: 132px;

    li {
      user-select: none;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: start;
      padding: 10px 14px;

      &:hover {
        background: rgba(254, 95, 30, 0.05);
        font-weight: 700;
        color: #FE5F1E;
      }
    }
  }
}