.ptitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchaseItem {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  .piTitle{
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    .piTitleInfo {
      display: flex;
      flex-direction: column;

      span {
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.22px;
      }

      p {
        margin-top: 3px;
        color: #8D8D8D;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.18px;
      }
    }
  }

  .piAdd {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.22px;
  }

  .piPrice {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.22px;
    margin: 0 93px;
  }
}