body {
    background: #FFDF8C;
    padding: 43px 0 63px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

main {
    width: 100%;
}

.global-container {
    max-width: 1340px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
    padding: 49px 0 96px 0;
    display: flex;
    flex-direction: column;
}

.blockContainer {
    position: relative;
    padding: 0 48px 0 67px;
    display: flex;
}